
.DS_Store
launchipython.command
.ipynb_checkpoints/1_instacart_model_exploration-checkpoint.ipynb
.ipynb_checkpoints/2_REST_API-checkpoint.ipynb
.ipynb_checkpoints/0_instacart_eda-checkpoint.ipynb
.ipynb_checkpoints/2_Streamlit_app-checkpoint.ipynb
.ipynb_checkpoints/1_collaborative_filtering-checkpoint.ipynb
.ipynb_checkpoints/2_collaborative_filter_recommends-checkpoint.ipynb
.ipynb_checkpoints/2_model_benchmark-checkpoint.ipynb
.ipynb_checkpoints/3_final_logistic_regression_model-checkpoint.ipynb
.ipynb_checkpoints/2_recommendation_validation-checkpoint.ipynb
.ipynb_checkpoints/3_comparing_classificationtree_to_logisticregression-checkpoint.ipynb
.ipynb_checkpoints/2_What_pct_recommendations_were_new-checkpoint.ipynb
